<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allinfo.model.mapper.UserMapper">
    <select id="findUserById" parameterType="string" resultType="UserDTO">
        SELECT `uid`,
               `email`,
               `id`,
               `pw`,
               `name`,
               `nickname`,
               `refresh_token`,
               `role`
        FROM user
        WHERE `id` = #{id}
    </select>

    <select id="findUserByEmail" parameterType="string" resultType="UserDTO">
        SELECT `uid`,
               `email`,
               `id`,
               `pw`,
               `name`,
               `nickname`,
               `refresh_token`,
               `role`
        FROM user
        WHERE `email` = #{email}
    </select>

    <select id="findUserByUid" parameterType="long" resultType="UserDTO">
        SELECT `uid`,
               `email`,
               `id`,
               `pw`,
               `name`,
               `nickname`,
               `refresh_token`,
               `role`
        FROM user
        WHERE `uid` = #{uid}
    </select>

    <insert id="join" parameterType="UserDTO">
        INSERT INTO user (`email`, `id`, `pw`, `name`, `nickname`)
        VALUES (#{email}, #{id}, #{pw}, #{name}, #{nickname})
    </insert>

    <update id="setRefreshToken" parameterType="UserDTO">
        UPDATE user
        SET `refresh_token` = #{refresh_token}
        WHERE `uid` = #{uid};
    </update>
</mapper>